{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="m-1 p-5" >Créer une nouvelle categorie</h1>

    {{ include('categoryAdmin/_form.html.twig') }}

    <a class="btn btn-dark m-5" href="{{ path('category_index') }}">Interface d'administration</a>
    </div>
{% endblock %}
