{% extends 'base.html.twig' %}

{% block title %}New Devis{% endblock %}

{% block body %}
    <div class="container">
        <h1>Faite votre devis</h1>

        {{ include('devis/_form.html.twig') }}
        <a class="btn-dark btn m-5" href="{{ path('home') }}">menu principal</a>
    </div>
{% endblock %}
