{#                            {% for category in categories %}#}
{#                            <li class="nav-item" aria-current="page">#}
{#                                <a class="nav-link active" href="{{ path('category_show', {'id': category.id}) }}">#}
{#                                {{ category.name }}#}
{#                                </a>#}
{#                            </li>#}
{#                            {% endfor %}#}

