{% extends 'base.html.twig' %}

{% block title %}New Tuto{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="m-1 p-5">Créer un nouveau tutoriel</h1>

    {{ include('tutoAdmin/_form.html.twig') }}

    <a class="btn btn-dark m-5" href="{{ path('admin') }}">Intereface administrateur</a>
    </div>
{% endblock %}
